<form action="" class="form">
    <div class="fields">
        <h2 class="register__title">Регистрация</h2>

        <div class="inputs">
            {{#each inputs}}
                <div class="inputContainer">
                    {{> Input 
                        inputId=inputId
                        classInput=classInput 
                        typeInput=typeInput 
                    }}
                    <label class="labelInput" for="{{inputId}}">{{placeholderInput}}</label>
                </div>
            {{/each}}
        </div>
    </div>

    <div class="form__buttons">
        {{#each buttons}}
            {{>Button typeButton=typeButton classButton=classButton textButton=textButton}}
        {{/each}}
    </div>
</form>