<main class="chatContainer">
    <section class="chatContainer__leftSection">
        {{> SearchAndListUsersModule infoAvatar=infoAvatar}}
    </section>
    <section class="chatContainer__rightSection">
        {{> MessageModule 
                emptyLog=emptyLog 
                chatLogMessages=chatLogMessages
        }}
    </section>
</main>
