<div class="profile">
    <h1>Hello</h1>
    <div class="profile__backToChat">
        <img src="" alt="">
    </div>
    <section class="profile__infoUser">
        <div class="profile__infoUser_icon">

        </div>
        <div class="profile__infoUser_info"></div>
        <div class="profile__infoUser_update">
            {{!-- {{>Button}}
            {{>Button}}
            {{>Button}} --}}
            <button>Изменить данные</button>
            <button>Изменить пароль</button>
            <button>Выйти</button>
        </div>
    </section>
</div>