$color-blue: #3369f3;
$color-light-gray: #999;
$border-bottom-input: 1px solid $color-blue;
$border-gray-color: 1px solid #eaeaea;
$bg-color-input-light-gray: #efefef;
$bg-color-gray-opacity: rgb(0 0 0 / 50%);
