@import url('../pages/chat/styles/chatStyles.scss');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: Arial, Helvetica, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

#app {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.form {
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14);
  min-height: 460px;
  padding: 30px;
  gap: 47px;
  box-sizing: border-box;
}

.fields {
  width: 100%;
}

.inputs {
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 16px;
  justify-content: center;
}

.inputContainer {
  position: relative;
  width: 100%;
  display: inline-block;
}

.input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #3369F3;
  line-height: 13px;
  padding: 10px 0;
}

.input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #3369F3;
  z-index: 222;
}

.labelInput {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 13px;
  color: #aaa;
  pointer-events: none;
  transition: 0.2s ease all;
}

.input:focus + .labelInput,
.input[data-has-value="true"] + .labelInput {
  top: 0;
  left: 0;
  font-size: 9px;
  line-height: 9;
  color: #999999;

}

.input:valid + .labelInput {
  top: 0;
  left: 0;
  font-size: 9px;
  color: #999999;
}

.form__buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.buttonAuth {
  width: 100%;
  background-color: #3369F3;
  color: white;
  padding: 12px;
  text-align: center;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 13px;
  transition: .3s;
}

.buttonAuth:hover {
  background-color: #0f4de9;
}

.buttonLink {
  width: 100%;
  border: none;
  background-color: inherit;
  color: #3369F3;
  cursor: pointer;
}

.buttonLink:hover {
  text-decoration: underline;
}

.login__title {
  line-height: 20px;
  font-weight: 400;
  font-size: medium 20px;
}
