<div class="messageModule">
    {{#if epmtyLog}}
        {{> EmptyChatLog}}
    {{/if}}
    {{#unless emptyLog}}
        <div class="messageModule__header">
            {{> HeaderChat 
                    infoHeaderChat=infoHeaderChat  
            }}
        </div>
        <div class="messageModule__chat">
            {{> ChatLog chatLogMessages=chatLogMessages }}
        </div>
        <div class="messageModule__formSubmit">
            {{> SubmitInput }}
        </div>
    {{/unless}}
</div>