<div class="profile__infoUser_avatar">
  <div class="profile__infoUser_avatar-container">
    <img
      class="profile__infoUser_avatar-container_icon"
      src="/images/userIcon.svg"
      alt="icon"
    />
  </div>
  <p class="profile__infoUser_avatar-userName">{{avatarInfo.username}}</p>
</div>