<div class="profile__infoUser_avatar">
  <div class="profile__infoUser_avatar-container">
    <img
      class="{{avatarInfo.classAvatar}}"
      src="{{avatarInfo.avatar}}"
      alt="icon"
    />
  </div>
  <p class="profile__infoUser_avatar-userName">{{avatarInfo.username}}</p>
</div>