<div class="fieldInfoProfile">
  <p class="fieldInfoProfile_name">
    {{nameField}}
  </p>
  <input
    {{#if disabled}}
        disabled
    {{/if}}
    class="fieldInfoProfile_input"
    value="{{value}}"
    type="{{typeInput}}"
    id="{{id}}"
  />
</div>
