<div class="modalProfile">
    <div class="modalProfile__container">
        <h4 class="modalProfile__container_title">{{title}}</h4>

        {{> InputModalProfile 
                inputId=infoInput.inputId
                classInput=infoInput.classInput
                typeInput=infoInput.typeInput
                placeholderInput=infoInput.placeholderInput
                value=infoInput.value
        }}
        {{> Button 
                idButton=infoButton.idButton
                typeButton=infoButton.typeButton
                classButton=infoButton.classButton
                textButton=infoButton.textButton
        }}
    </div>
</div>