<main class="errorPage">
    <div class="errorPage__codeSection">
        <h3 class="errorPage__codeSection_code">{{errorCode}}</h3>
        <p class="errorPage__codeSection_description">{{errorDescription}}</p>
    </div>
    {{> Button 
            idButton=backToChatBtn.idButton
            typeButton=backToChatBtn.typeButton
            classButton=backToChatBtn.classButton
            textButton=backToChatBtn.textButton
    }}
</main>
