<div class="avatar">
  <div class="avatar__leftBlock">
    <img src="./src/assets/images/iconUser.svg" alt="icon" />
    <div class="avatar__leftBlock_infoUser">
      <h5 class="avatar__leftBlock_infoUser_userName">{{username}}</h5>
      <p class="avatar__leftBlock_infoUser_lastMessage"> {{lastMessage}}</p>
    </div>
  </div>
  <div class="avatar__rightBlock">
    <p class="avatar__rightBlock_time">{{time}}</p>
    <span class="avatar__rightBlock_countMessage">{{notReadMessageCount}}</span>
  </div>
</div>